
@{
    ViewBag.Title = "Cargo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cargo</h2>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header p-2 bg-dark text-white">
                CARGO
            </div>

            <div class="card-body p-3">
                <table id="tblCargo" class="table table-light nowrap compact" style="width:100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Cargo</h5>
                <button type="button" class="btn btn-close" data-dismiss="modal" aria-label="Close" onclick="Cerrar()"></button>
            </div>
            <div class="modal-body">

                <form class="formulario" id="form">
                    <div class="row">

                        <div class="col-sm-12">
                            <input type="hidden" id="txtIDCargo" />

                            <div class="form-group" id="grupo__titulo">
                                <label for="txtNombre" id="formulario__label">Nombre *</label>
                                <input type="text" class="form-control" name="nombre" id="txtNombre">
                            </div>

                            <div class="form-group">
                                <label for="txtEstado">Estado *</label>
                                <select class="form-control" id="cboEstado" name="Activo">
                                    <option value="1">Activo</option>
                                    <option value="0">No Activo</option>
                                </select>
                            </div>

                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="Cerrar()">Cerrar</button>
                <button id="guardar" type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="@Url.Content("~/Scripts/Views/Crear_Cargo.js")" type="text/javascript"></script>

}

