
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <!-- Stylesheets-->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <script src="~/Scripts/Views/Actualizar_IDPoyecto.js"></script>

    <!-- Animate.css -->
    <link href="~/Content/proyectos/css/animate.css" rel="stylesheet" />
    <!-- Icomoon Icon Fonts-->
    <link href="~/Content/proyectos/css/icomoon.css" rel="stylesheet" />
    <!-- Bootstrap  -->
    <link href="~/Content/proyectos/css/bootstrap.css" rel="stylesheet" />
    <!-- Owl Carousel -->
    <link href="~/Content/proyectos/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/proyectos/css/owl.theme.default.min.css" rel="stylesheet" />
    <!-- Theme style  -->
    <link href="~/Content/proyectos/css/style.css" rel="stylesheet" />

    <!-- Modernizr JS -->
    <script src="~/Scripts/proyectos/modernizr-2.6.2.min.js"></script>
</head>
<body>
    <div>
        @RenderBody()

    </div>
</body>

</html>

