
.btn-group-sm > .btn, .btn-sm{
    margin:3px;
}

.formulario__input-error{
    font-size:12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-Fecha {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo{
    display: block;
}

.formulario__input-error-Fecha-activo{
    display: block;
}

.form-control{
    margin-bottom: 8px;
}